# use with https://github.com/casey/just
#
# Celestia validator operations
#

# Set the shell to bash with error handling
# set shell := ["bash", "-euo", "pipefail"]

# Default recipe to show available commands
default:
    @just --list

# Variables
{% if chain_celestia_bridge is defined and chain_celestia_bridge | bool %}
bridge_app_service := "bridge-celestia-app-{{ chain_celestia_chain_id }}"
bridge_node_service := "bridge-celestia-node-{{ chain_celestia_chain_id }}"
{% endif %}
{% if chain_celestia_validator is defined and chain_celestia_validator | bool %}
validator_app_service := "appd-{{ chain_celestia_chain_id }}"
{% endif %}
log_lines := "100"

{% if chain_celestia_bridge is defined and chain_celestia_bridge | bool %}
# Start bridge-celestia-app systemd service
start-bridge-app:
    @echo "Starting {% raw %}{{ bridge_app_service }}{% endraw %}..."
    sudo /usr/bin/systemctl start {% raw %}{{ bridge_app_service }}.service
{% endraw %}
    @sleep 2
    @just status-bridge-app

# Stop bridge-celestia-app systemd service
stop-bridge-app:
    @echo "Stopping {% raw %}{{ bridge_app_service }}{% endraw %}..."
    sudo /usr/bin/systemctl stop {% raw %}{{ bridge_app_service }}.service
{% endraw %}
    @sleep 2
    @just status-bridge-app

# Restart bridge-celestia-app systemd service
restart-bridge-app:
    @echo "Restarting {% raw %}{{ bridge_app_service }}{% endraw %}..."
    sudo /usr/bin/systemctl restart {% raw %}{{ bridge_app_service }}.service
{% endraw %}
    @sleep 2
    @just status-bridge-app

# Check bridge-celestia-app systemd service status
status-bridge-app:
    @echo "{% raw %}{{ bridge_app_service }}{% endraw %} status:"
    sudo /usr/bin/systemctl status {% raw %}{{ bridge_app_service }}.service
{% endraw %}

# Consult bridge-celestia-node systemd service logs
logs-bridge-app:
    journalctl --unit={% raw %}{{ bridge_app_service }} --follow
{% endraw %}

# Start bridge-celestia-node systemd service
start-bridge-node:
    @echo "Starting {{ chain_celestia_network }}..."
    sudo /usr/bin/systemctl start {% raw %}{{ bridge_node_service }}.service
{% endraw %}
    @sleep 2
    @just status-bridge-node

# Stop bridge-celestia-node systemd service
stop-bridge-node:
    @echo "Stopping {% raw %}{{ bridge_node_service }}{% endraw %}..."
    sudo /usr/bin/systemctl stop {% raw %}{{ bridge_node_service }}.service
{% endraw %}
    @sleep 2
    @just status-bridge-node
# Restart bridge-celestia-node systemd service
restart-bridge-node:
    @echo "Restarting {% raw %}{{ bridge_node_service }}{% endraw %}..."
    sudo /usr/bin/systemctl restart {% raw %}{{ bridge_node_service }}.service
{% endraw %}
    @sleep 2
    @just status-bridge-node

# Check bridge-celestia-node systemd service status
status-bridge-node:
    @echo "{% raw %}{{ bridge_node_service }}{% endraw %} status:"
    sudo /usr/bin/systemctl status {% raw %}{{ bridge_node_service }}.service
{% endraw %}

# Consult bridge-celestia-node systemd service logs
logs-bridge-node:
    journalctl --unit={% raw %}{{ bridge_node_service }} --follow
{% endraw %}
{% endif %}

{% if chain_celestia_validator is defined and chain_celestia_validator | bool %}
# Start {validator-celestia-app systemd service
start-validator-app:
    @echo "Starting {% raw %}{{ validator_app_service }}{% endraw %}..."
    sudo /usr/bin/systemctl start {% raw %}{{ validator_app_service }}.service
{% endraw %}
    @sleep 2
    @just status-validator-app

# Stop validator-celestia-app systemd service
stop-validator-app:
    @echo "Stopping {% raw %}{{ validator_app_service }}{% endraw %}..."
    sudo /usr/bin/systemctl stop {% raw %}{{ validator_app_service }}.service
{% endraw %}
    @sleep 2
    @just status-validator-app

# Restart validator-celestia-app systemd service
restart-validator-app:
    @echo "Restarting {% raw %}{{ validator_app_service }}{% endraw %}..."
    sudo /usr/bin/systemctl restart {% raw %}{{ validator_app_service }}.service
{% endraw %}
    @sleep 2
    @just status-validator-app

# Check validator-celestia-app systemd service status
status-validator-app:
    @echo "{% raw %}{{ validator_app_service }}{% endraw %} status:"
    sudo /usr/bin/systemctl status {% raw %}{{ validator_app_service }}.service
{% endraw %}

# Consult validator-celestia-app systemd service logs
logs-validator-app:
    journalctl --unit={% raw %}{{ validator_app_service }} --follow
{% endraw %}
{% endif %}
