[Unit]
Description={{ validator_celestia_instance_description }}
After=network-online.target

[Service]
User={{ validator_celestia_user }}
ExecStart=/usr/local/bin/celestia bridge start \
  --p2p.network mocha \
  --metrics.tls=true --metrics --metrics.endpoint otel.celestia-mocha.com
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
