apiVersion: 1
datasources:
  - name: Prometheus (via VictoriaMetrics)
    type: prometheus
    access: proxy
    url: http://host.containers.internal:8428
    isDefault: false
  - name: VictoriaMetrics
    type: victoriametrics-datasource
    access: proxy
    url: http://host.containers.internal:8428
    isDefault: true
  - name: VictoriaLogs
    type: victorialogs-datasource
    access: proxy
    url: http://host.containers.internal:9428
    isDefault: false
