groups:
  - name: cosmos-validator-watcher - {{ observability_chain_id }}
    rules:

    - alert: InstanceDown
      expr: up{job="prometheus.scrape.cosmos_validator_watcher_{{ observability_chain_id | replace('-', '_') }}"} == 0
      for: 3m
      annotations:
        title: "Instance {% raw %}{{ $labels.instance }}{% endraw %} down"
        description: "{% raw %}{{ $labels.job }} on {{ $labels.instance }}{% endraw %} has been down for more than 3 minutes"
      labels:
        severity: critical
        service: validator
        component: cosmos-sdk
        grafanaDashboardUrl: "http://{{ hostvars['observability'].ansible_host }}.{{ public_domain }}:3000/d/cosmos-validator-watcher/cosmos-validator-watcher-by-chain?var-chain_id={{ observability_chain_id }}"

    - alert: MissingBlocks
      expr: increase(cosmos_validator_watcher_solo_missed_blocks{chain_id="{{ observability_chain_id }}"}[5m]) > 10
      for: 5m
      labels:
        severity: warning
        service: validator
        component: cosmos-validator-watcher
      annotations:
        description: "{% raw %}Chain `{{ $labels.chain_id }}` validator on `{{ $labels.instance }}` is missing `{{ $value }}` blocks!{% endraw %}"
        grafanaDashboardUrl: http://{{ hostvars['observability'].ansible_host }}.{{ public_domain }}:3000/d/cosmos-validator-watcher/cosmos-validator-watcher-by-chain?var-chain_id={{ observability_chain_id }}

    - alert: NoValidatedBlocks
      expr: rate(cosmos_validator_watcher_validated_blocks{chain_id="{{ observability_chain_id }}"}[5m]) == 0
      for: 5m
      labels:
        severity: warning
        service: validator
        component: cosmos-validator-watcher
      annotations:
        description: "{% raw %}Chain `{{ $labels.chain_id }}` validator on `{{ $labels.instance }}` does not validate new blocks!{% endraw %}"
        grafanaDashboardUrl: http://{{ hostvars['observability'].ansible_host }}.{{ public_domain }}:3000/d/cosmos-validator-watcher/cosmos-validator-watcher-by-chain?var-chain_id={{ observability_chain_id }}

    - alert: LowInRank
      expr: cosmos_validator_watcher_rank{chain_id="{{ observability_chain_id }}"} > (max(cosmos_validator_watcher_active_set{chain_id="{{ observability_chain_id }}"}) - 10)
      for: 5m
      labels:
        severity: warning
        service: validator
        component: cosmos-validator-watcher
      annotations:
        description: "{% raw %}Chain `{{ $labels.chain_id }}` validator on `{{ $labels.instance }}` rank is `{{ $value }}`!{% endraw %}"
        grafanaDashboardUrl: http://{{ hostvars['observability'].ansible_host }}.{{ public_domain }}:3000/d/cosmos-validator-watcher/cosmos-validator-watcher-by-chain?var-chain_id={{ observability_chain_id }}

    - alert: IsJailed
      expr: cosmos_validator_watcher_is_jailed{chain_id="{{ observability_chain_id }}"} == 1
      for: 5m
      labels:
        severity: critical
        service: validator
        component: cosmos-validator-watcher
      annotations:
        description: "{% raw %}Chain `{{ $labels.chain_id }}` validator on `{{ $labels.instance }}` is jailed! `{{ $value }}`!{% endraw %}"
        grafanaDashboardUrl: "http://{{ hostvars['observability'].ansible_host }}.{{ public_domain }}:3000/d/cosmos-validator-watcher/cosmos-validator-watcher-by-chain?var-chain_id={{ observability_chain_id }}"
