groups:
  - name: noble_jester
    rules:

    - alert: InstanceDown
      expr: up{job="prometheus.scrape.jester_{{ chain_neutron_chain_id | replace('-', '_') }}"} == 0
      for: 3m
      annotations:
        title: "Instance prometheus.scrape.jester_{{ chain_neutron_chain_id | replace('-', '_') }} down"
        description: "{{ chain_neutron_chain_id | replace('-', '_') }} has been down for more than 3 minutes"
      labels:
        severity: critical
        service: validator
        component: jester
        chain: noble

    - alert: HighAPIErrorRate
      expr: |
        sum(rate(side_car_api_http_status_code{status_code=~"5..",job="prometheus.scrape.jester_{{ chain_neutron_chain_id | replace('-', '_') }}"}[5m])) by (provider)
        /
        sum(rate(side_car_api_http_status_code{job="prometheus.scrape.jester_{{ chain_neutron_chain_id | replace('-', '_') }}"}[5m])) by (provider) > 0.6
      labels:
        severity: warning
        service: validator
        component: jester
        chain: noble
