groups:
  - name: noble_jester
    rules:

    - alert: InstanceDown
      expr: up{job="prometheus.scrape.jester_{{ chain_noble_chain_id | replace('-', '_') }}"} == 0
      for: 5m
      annotations:
        title: "Instance prometheus.scrape.jester_{{ chain_noble_chain_id | replace('-', '_') }} down"
        description: "{{ chain_noble_chain_id | replace('-', '_') }} has been down for more than 3 minutes"
      labels:
        severity: critical
        service: validator
        component: jester
        chain: noble

    - alert: EthereumSubscriptionInterruption
      expr: rate(eth_sub_interruption_counter[5m]) > 0
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "Ethereum subscription interruption detected for Jester (noble-1 mainnet)"
        description: "The Ethereum subscription has been interrupted {% raw %}{{ $value }}{% endraw %} times in the last 5 minutes. This may affect application functionality."
