---
name: Renovate - Validate config

on:
  push:
    branches: [main]
    paths:
      - .github/renovate.json5
      - .github/renovate/**.json5
  pull_request:
    paths:
      - .github/renovate.json5
      - .github/renovate/**.json5

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: 20.x
      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node
      - name: Validate renovate config
        run: |
          RENOVATE_CONFIG_FILE=.github/renovate.json5 npx --package renovate -c 'renovate-config-validator'
